/*!
 * Custom CSS Overwrites All That Stands In Its Path
 */

/* Header */

body {
  background-image:url('../img/straws.png');
}

.header {
  margin:0 auto;
  height:80px;
  max-width:960px; 
}

.header .logo {
  margin-top:25px;
}

.header .login {
  float:right;
  margin-top:20px;
  background-color:#fff;
  border: 1px solid #ddd;
  padding: 8px;
  color:#aaa;
  border-radius:8px;
  margin-right:10px;
}

.header .signup {
  float:right;
  margin-top:20px;
  background-color:#e84d3e;
  border: 1px solid #c11606;
  padding: 8px;
  color:#fff;
  border-radius:8px;
}

.header .username {
  font-size: 18px;
  float:right;
  margin-top: 30px;
  text-transform:uppercase;
}

.kanaman {
  background-image:url('../img/kanarider.jpg');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.homepageheader {
  height:450px;
  max-width:960px;
  margin: 0 auto;
}

.homepageheader h1 {
  font-size:80px;
  color:#fff;
  margin:0 0 0 0;
  padding:80px 0 0 0;
  text-align:center;
  text-shadow: 2px 2px #111;
  line-height:1.1em;
}

.homepageheader h2 {
  font-size:40px;
  color:#fff;
  margin:0 0 0 0;
  padding:10px 0 0 0;
  text-align:center;
  text-shadow: 2px 2px #111;
  line-height:1.1em;
}

.homepageheader h3 {
  font-size:20px;
  color:#fff;
  margin:0 0 50px 0;
  padding:50px 0 0 0;
  text-align:center;
  text-shadow: 2px 2px #111;
  line-height:1.1em;
}

.homepageheader h3 a {
  color:#70e077;
}

.homepageheader h3 a:hover {
  text-decoration:none;
  text-shadow: 0 0 10px #bbb;
  font-size:20px;
  color:yellow;
}

.features {
  margin:30px auto;
  max-width:960px; 
}

.features img {
  margin-bottom:12px;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

#features h3, #features h2 {
  text-align:center;
}

#features p {
  font-size:16px;
}

.wrap {
    position:relative;
    margin:0 auto;
    width:960px;
}

#footer {
  margin-top:50px;
  background-color:#111;
  min-height:50px;
  padding:50px 0 20px 0;
  width:100%;
  float:left;
  position:fixed;
  bottom:0;
  z-index:999999; 
}

.footer {
  margin:0 auto;
  max-width:960px; 
}

.footer ul {
  display: inline;
  color:#fff;
  margin:0;
  padding:0;
}

.footer ul li {
  display: inline;
  color:#ddd;
}

.footer ul li a {
  display: inline;
  color: #ddd;
  padding: 0 40px 0 0;
}

.footer .copyright {
  float:right;
  color:#fff;
}

/* Dashboard */

.kanaquotes {
  background-image:url('../img/kanaquotes.png');
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  border-bottom:2px solid #ccc;
}

.dashboard-header {
  height:350px;
  max-width:960px;
  margin: 0 auto;
}

.quotes {
  margin:10% 0 0 10%;
  max-width: 420px;
}

.dashboard-header h3 {
  font-size: 30px;
  font-style:italic;
}

.dashboard-header p {
  font-size: 24px;
  line-height: 1.4em;
  font-style:italic;
}

#dashboard {
  background-color:#D4EF9F;
}

.lessons {
  margin:30px auto;
  max-width:960px;
}

.percentcomplete p {
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  text-transform:uppercase;
}